<div class="login-page">
                <h1 class="text-center">Login to proceed!</h1>
                <div class="input">
                <form (ngSubmit)="onSubmit()"  #loginForm="ngForm"  class="text-center" >
                    <mat-form-field class="quarter-width" >
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="credentials.username" 
                        name="username" required type="text" matInput>

                    </mat-form-field><br>
                    
                    <mat-form-field class="quarter-width" >
                       <mat-label>Password</mat-label>
                       <input 
                       [(ngModel)]="credentials.password"
                       name="password"
                        required type="password" matInput>
                        
                   </mat-form-field>
                   <div class="buttons">
                   
                       <button type="submit" mat-raised-button color="primary">Login</button>
                       <button type="button" mat-raised-button color="accent" (click)="resetForm(loginForm)">Reset</button>
                </div>
                </form>
            </div>
</div>
         
      